<mat-card id="card" style="text-align: center; background-color: #595959">
  <mat-card-content
    style="display: flex; justify-content: center; align-items: center"
  >
    <mat-card id="card-content" style="text-align: center; width: 30%">
      <mat-card-title>
        <div class="flex">
          <div class="flex-none w-14 h-14 pt-5">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="menu"
            ></mat-icon>
          </div>
          <div class="flex items-center">
            <img
              mat-card-image
              src="assets/pngegg.png"
              alt="Photo of a Shiba Inu"
              class="h-16"
            />
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content style="background-color: #1e1f28">
        <div class="grid grid-cols-2 gap-4 pt-5">
          <mat-card
            class="home-card"
            (click)="goToLink('https://www.totalplay.com.mx/internet')"
          >
            <mat-card-content class="home-card-content">
              <img
                mat-card-image
                src="{{ tiles[0].scr }}"
                alt="Photo of a Shiba Inu"
                style="height: 50px; width: 3%"
              />
              <div>
                <div class="text-sm">{{ tiles[0].text }}</div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card
            class="home-card"
            (click)="goToLink('https://www.totalplay.com.mx/totalplaytv')"
          >
            <mat-card-content class="home-card-content">
              <img
                mat-card-image
                src="{{ tiles[1].scr }}"
                alt="Photo of a Shiba Inu"
                style="height: 50px; width: 3%"
              />
              <div>
                <div class="text-sm">{{ tiles[1].text }}</div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card
            class="home-card"
            (click)="goToLink('https://www.totalplay.com.mx/telefonia')"
          >
            <mat-card-content class="home-card-content">
              <img
                mat-card-image
                src="{{ tiles[2].scr }}"
                alt="Photo of a Shiba Inu"
                style="height: 50px; width: 3%"
              />
              <div>
                <div class="text-sm">{{ tiles[2].text }}</div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card
            class="home-card"
            (click)="goToLink('https://www.totalplay.com.mx/clubwifitotalplay')"
          >
            <mat-card-content class="home-card-content">
              <img
                mat-card-image
                src="{{ tiles[3].scr }}"
                alt="Photo of a Shiba Inu"
                style="height: 50px; width: 3%"
              />
              <div>
                <div class="text-sm">{{ tiles[3].text }}</div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="flex flex-col">
          <div>
            <carousel [arrows]="false" [counter]="false">
              <div class="carousel-slide">
                <img
                  class="pt-5 pb-5 pl-2 h-48 w-96"
                  mat-card-image
                  src="assets/image1.png"
                />
              </div>
              <div class="carousel-slide">
                <img
                  class="pt-5 pb-5 pl-2 h-48 w-96"
                  mat-card-image
                  src="assets/image2.png"
                />
              </div>
              <div class="carousel-slide">
                <img
                  class="pt-5 pb-5 pl-2 h-48 w-96"
                  mat-card-image
                  src="assets/image3.png"
                />
              </div>
              <div class="carousel-slide">
                <img
                  class="pt-5 pb-5 pl-2 h-48 w-96"
                  mat-card-image
                  src="assets/image4.png"
                />
              </div>
            </carousel>
            <div class="pt-5">
              <p style="color: white">
                Powered by S10 Plus ® - 2022 - All Rights Reserved
              </p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
