<div
  *ngIf="!myFlag"
  class="h-screen flex justify-center items-center p-5"
  style="background-color: #595959"
>
  <div class="rounded-xl h-full w-96 overflow-scroll flex flex-col p-1">
    <mat-card class="pb-5" appearance="outlined">
      <mat-card-title>
        <div class="flex" style="background-color: #66072f">
          <div class="flex flex-row align-middle h-full pt-5" (click)="one()">
            <mat-icon [ngStyle]="{ color: 'white' }">arrow_back</mat-icon>
          </div>
          <div class="flex flex-row w-full h-28 items-center justify-center">
            <img
              mat-card-image
              src="assets/logo_alvaro.png"
              alt=""
              class="h-16 pl-5"
            />
            <p class="text-center text-white text-xs">
              Transparencia y participación ciudadana para un mejor futuro.
            </p>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <div class="flex flex-col justify-evenly pt-5">
          <div class="grid grid-cols-3 gap-3 px-1 py-1 h-42">
            <div
              class="flex items-center justify-center rounded-md h-32 space-x-4"
              (click)="
                postClick(
                  '356',
                  'https://311locatel.cdmx.gob.mx/',
                  'nav|CLICK/DETALLE:|Módulo Digital|Módulo Digital',
                  false
                )
              "
            >
              <img
                class="h-32"
                mat-card-image
                src="assets/modulo_digital.png"
              />
            </div>
            <div
              class="flex items-center justify-center rounded-md h-32 space-x-4"
              (click)="
                postClick(
                  '357',
                  'https://aao.cdmx.gob.mx/vut.html',
                  'nav|CLICK/DETALLE:|VUT Trámites|VUT Trámites'
                )
              "
            >
              <img class="h-32" mat-card-image src="assets/tramites.png" />
            </div>
            <div
              class="flex items-center justify-center rounded-md h-32 space-x-4"
              (click)="
                postClick(
                  '358',
                  'https://aao.cdmx.gob.mx/cesac.html',
                  'nav|CLICK/DETALLE:|CESAC|CESAC'
                )
              "
            >
              <img class="h-32" mat-card-image src="assets/CESAC.png" />
            </div>
            <div
              class="flex items-center justify-center rounded-md h-32 space-x-4 pt-10"
              (click)="
                postClick(
                  '359',
                  'https://www.cdmx.gob.mx/',
                  'nav|CLICK/DETALLE:|Registro Electrónico|Registro Electrónico'
                )
              "
            >
              <img class="h-32" mat-card-image src="assets/registro.png" />
            </div>
            <div
              class="flex items-center justify-center rounded-md h-32 space-x-4 pt-10"
              (click)="
                postClick(
                  '360',
                  'https://aao.cdmx.gob.mx/cric.html',
                  'nav|CLICK/DETALLE:|Centro de Respuesta a Incidentes Ciudadanos|Centro de Respuesta a Incidentes Ciudadanos'
                )
              "
            >
              <img
                class="h-32"
                mat-card-image
                src="assets/centro_de_respuesta.png"
              />
            </div>
            <div
              class="flex items-center justify-center rounded-md h-32 space-x-4 pt-10"
              (click)="
                postClick(
                  '361',
                  'https://llave.cdmx.gob.mx/oauth.xhtml?client_id=202108191148024878&redirect_url=https%3A%2F%2Fwww.cdmx.gob.mx%2Fbackoffice.xhtml&state=JtGg-gvQBsLMnF3G8kED5vgF-Qhnq2LOTlitIBGWjkrYDX0BPVhgiE4s9vVHVih8',
                  'nav|CLICK/DETALLE:|Pagos en Línea|Pagos en Línea'
                )
              "
            >
              <img class="h-32" mat-card-image src="assets/pagos.png" />
            </div>
          </div>
        </div>
        <div class="flex flex-col w-full items-center justify-center pt-10">
          <div class="w-full">
            <img
              class="pt-5 pb-5 pl-2 h-48"
              mat-card-image
              src="assets/map2.png"
              (click)="
                postClick(
                  '332',
                  'https://www.google.com/maps/place/Alcald%C3%ADa+%C3%81lvaro+Obreg%C3%B3n/@19.3893561,-99.1999383,783m/data=!3m2!1e3!4b1!4m6!3m5!1s0x85d201d6a5d846d9:0x193d29b4e1191b26!8m2!3d19.3893562!4d-99.1950674!16s%2Fg%2F1tfcz4nn?entry=ttu&g_ep=EgoyMDI0MTExOC4wIKXMDSoASAFQAw%3D%3D',
                  'nav|CLICK/DETALLE:|Oficina cerca de ti|Oficina cerca de ti'
                )
              "
            />
          </div>
          <div
            class="flex items-center justify-center bg-gray-300 rounded-md h-14 w-full space-x-4"
            style="background-color: #66072f"
            (click)="postClick('333', '', 'nav|CLICK/DETALLE:|Soporte|Soporte')"
          >
            <a href="tel:(55)52766700" class="text-sm text-white"
              >Continuar llamada</a
            >
          </div>
          <br />
          <div
            class="flex items-center justify-center bg-gray-300 rounded-md h-14 w-full space-x-4"
            style="background-color: #66072f"
            (click)="
              postClick(
                '333',
                'https://cari.ai/cVhlaTdqekZaZkkyL1VZUDc4QjdZMFI0b2hkLzVVMXhmM0xsaDNxWmVScmxQdGNUVWlNcExPVnlsdDNDb2podzFyWEFyblpaWmJmeQ==@em@',
                'nav|CLICK/DETALLE:|Soporte|Soporte'
              )
            "
          >
            <span class="text-sm text-white">Chat en linea</span>
          </div>
          <div class="flex">
            <div
              class="flex flex-row w-full h-6 pt-8 items-center justify-center"
            >
              <img
                mat-card-image
                src="assets/facebook.svg"
                alt=""
                class="h-10 w-5"
                (click)="goToLink('https://www.facebook.com/AlcaldiaAOMx/')"
              />
              <img
                mat-card-image
                src="assets/twitterx.svg"
                alt=""
                class="h-10 w-10 pl-5"
                (click)="goToLink('https://x.com/AlcaldiaAO')"
              />
              <img
                mat-card-image
                src="assets/instagram.svg"
                alt=""
                class="h-10 w-10 pl-5"
                (click)="goToLink('https://www.instagram.com/alcaldiaaomx/')"
              />
            </div>
          </div>
          <div class="h-full w-full">
            <carousel
              class="first-carousel"
              [arrows]="false"
              [counter]="false"
              [responsive]="true"
              [slideToShow]="3"
            >
              <div class="carousel-slide">
                <img
                  class="pt-5 pb-5 pl-2 h-48 w-96"
                  mat-card-image
                  src="assets/carruselAlvaro1.png"
                />
              </div>
              <div class="carousel-slide">
                <img
                  class="pt-5 pb-5 pl-2 h-48 w-96"
                  mat-card-image
                  src="assets/carruselAlvaro2.png"
                />
              </div>
              <div class="carousel-slide">
                <img
                  class="pt-5 pb-5 pl-2 h-48 w-96"
                  mat-card-image
                  src="assets/carruselAlvaro3.png"
                />
              </div>
            </carousel>
          </div>
          <div class="pt-5">
            <p class="text-xs h-full text-center" style="color: black">
              Powered by S10 Plus ® - 2024 - All Rights Reserved
            </p>
            <div
              class="flex items-center justify-center inline-block align-middle"
            >
              <mat-icon style="color: black">copyright</mat-icon>
              <p class="text-xs h-full text-center pt-3" style="color: black">
                Copyright S10PLUS USA LLC
              </p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="myFlag">
  <div
    class="h-screen flex justify-center items-center p-5"
    style="background-color: #595959"
  >
    <div class="rounded-xl h-full w-96 overflow-scroll flex flex-col p-1">
      <mat-card class="pb-5" appearance="outlined">
        <mat-card-title>
          <div class="flex" style="background-color: #66072f">
            <div class="flex flex-col w-full items-center justify-center">
              <img
                mat-card-image
                src="assets/logo_alvaro.png"
                alt=""
                class="h-16"
              />
              <div class="w-40">
                <p class="text-center text-white text-xs">
                  Transparencia y participación ciudadana para un mejor futuro.
                </p>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content class="h-screen">
          <div class="flex flex-col justify-evenly pt-5"></div>
          <div class="flex flex-row w-full h-28 items-center justify-center">
            <p class="text-sm">
              Gracias por usar el servicio de Autoatendimiento Móvil Avanzado
              Digital del Estado de Nuevo león, por favor ingresa tus datos
            </p>
          </div>
          <div class="flex flex-row w-full items-center justify-center">
            <p class="text-sm">*Nombre</p>
          </div>
          <div class="flex flex-col w-full">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
          <div class="flex flex-row w-full items-center justify-center">
            <p class="text-sm">*Telefono</p>
          </div>
          <div class="flex flex-col w-full">
            <mat-form-field appearance="outline">
              <mat-label>Telefono</mat-label>
              <span matTextPrefix>+52 &nbsp;</span>
              <input matInput />
            </mat-form-field>
          </div>
          <div class="flex flex-row w-full items-center justify-center">
            <p class="text-sm">*Estado</p>
          </div>
          <div class="flex flex-col w-full">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Estado</mat-label>
              <mat-select [(ngModel)]="selectedState">
                <mat-option
                  *ngFor="let state of states | keyvalue"
                  [value]="state.value"
                >
                  {{ state.key }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex flex-row w-full items-center justify-center">
            <p class="text-sm">*Email</p>
          </div>
          <div class="flex flex-col w-full">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
          <div
            class="flex flex-col w-full"
            (click)="
              postClick(
                '355',
                '',
                'opened|Acceso a Plataforma|Accesos a Interfaz Gráfica|Accesos a Interfaz Gráfica',
                true
              )
            "
          >
            <button mat-flat-button style="background-color: #66072f">
              Siguiente
            </button>
          </div>

          <div class="flex flex-col">
            <div>
              <div class="pt-5">
                <p class="text-xs h-full text-center" style="color: black">
                  Powered by S10 Plus ® - 2024 - All Rights Reserved
                </p>
                <div
                  class="flex items-center justify-center inline-block align-middle"
                >
                  <mat-icon style="color: black">copyright</mat-icon>
                  <p
                    class="text-xs h-full text-center pt-3"
                    style="color: black"
                  >
                    Copyright S10PLUS USA LLC
                  </p>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">{{ titleLoader }}</p>
</ngx-spinner>
>
