<div
  class="h-screen flex justify-center items-center p-5"
  style="background-color: #595959"
>
  <div class="rounded-xl h-full w-96 overflow-scroll flex flex-col p-1">
    <mat-card class="pb-5" appearance="outlined">
      <mat-card-title>
        <div class="flex">
          <div class="flex flex-col w-full items-center justify-center">
            <img mat-card-image src="assets/pngegg.png" alt="" class="h-16" />
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content style="background-color: #1e1f28">
        <div class="flex flex-col justify-evenly pt-5">
          <div class="grid grid-cols-2 gap-2 px-1 py-1 h-42">
            <div
              class="flex items-center justify-center rounded-md h-14 space-x-4"
              [routerLink]="['/services']"
              (click)="
                postClick('328', '', 'nav|CLICK/DETALLE:|Servicios|Servicios')
              "
            >
              <div
                class="flex items-center justify-center bg-gray-300 rounded-md h-14 space-x-4 w-full"
              >
                <mat-icon style="color: #02bbe37d">lan</mat-icon>

                <a href="tel:5558044140" class="text-xs">Servicios</a>
              </div>
            </div>
            <div
              class="flex items-center justify-center rounded-md h-14 space-x-4"
              (click)="
                postClick(
                  '329',
                  'https://www.totalplay.com.mx/paquetes',
                  'nav|CLICK/DETALLE:|Paquetes|Paquetes'
                )
              "
            >
              <div
                class="flex items-center justify-center bg-gray-300 rounded-md h-14 space-x-4 w-full"
              >
                <mat-icon style="color: #b5cf30">satellite_alt</mat-icon>

                <a href="tel:5558044140" class="text-xs">Paquetes</a>
              </div>
            </div>
            <div
              class="flex items-center justify-center rounded-md h-14 space-x-4 pt-10"
              (click)="
                postClick(
                  '330',
                  'https://www.totalplay.com.mx/contrata',
                  'nav|CLICK/DETALLE:|Como contratar|Como contratar'
                )
              "
            >
              <div
                class="flex items-center justify-center bg-gray-300 rounded-md h-14 space-x-4 w-full"
              >
                <mat-icon style="color: #faaf3f">contact_support</mat-icon>

                <a href="tel:5558044140" class="text-xs">¿Cómo contratar?</a>
              </div>
            </div>
            <div
              class="flex items-center justify-center rounded-md h-14 space-x-4 pt-10"
              (click)="
                postClick(
                  '331',
                  '',
                  'nav|CLICK/DETALLE:|Pagar servicio|Pagar servicio'
                )
              "
            >
              <div
                class="flex items-center justify-center bg-gray-300 rounded-md h-14 space-x-4 w-full"
              >
                <mat-icon style="color: #ec1a3c">payments</mat-icon>

                <a href="tel:5558044140" class="text-xs">Pagar Servicio</a>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col w-full items-center justify-center pt-10">
          <div class="w-full">
            <img
              class="pt-5 pb-5 pl-2 h-48"
              mat-card-image
              src="assets/map2.png"
              (click)="
                postClick(
                  '332',
                  '',
                  'nav|CLICK/DETALLE:|Oficina cerca de ti|Oficina cerca de ti'
                )
              "
            />
          </div>

          <div class="flex flex-col justify-evenly">
            <div class="grid grid-cols-2 gap-2 px-1 py-1 h-42">
              <div
                class="flex items-center justify-center bg-gray-300 rounded-md h-14 space-x-4"
                (click)="
                  postClick(
                    '333',
                    'https://cari.ai/cVhlaTdqekZaZkkyL1VZUDc4QjdZMFI0b2hkLzVVMXhmM0xsaDNxWmVScmxQdGNUVWlNcExPVnlsdDNDb2podzFyWEFyblpaWmJmeQ==@em@',
                    'nav|CLICK/DETALLE:|Soporte|Soporte'
                  )
                "
              >
                <mat-icon style="color: #02bbe37d">help_outline</mat-icon>

                <span class="text-sm">Chat en linea</span>
              </div>
              <div
                class="flex items-center justify-center bg-gray-300 rounded-md h-14 space-x-4"
                (click)="
                  postClick(
                    '334',
                    '',
                    'nav|CLICK/DETALLE:|Continuar la llamada|Continuar la llamada'
                  )
                "
              >
                <mat-icon style="color: #b5cf30">call</mat-icon>

                <a href="tel:5558044140" class="text-xs">Continuar llamada</a>
              </div>
            </div>
          </div>
          <div
            class="h-auto w-auto flex items-center justify-center bg-gray-300 rounded-md h-14 space-x-4"
            (click)="
              goToLink('https://api.whatsapp.com/send?phone=573113467116')
            "
          >
            <img
              class="pt-5 pb-5 pl-2 h-16"
              mat-card-image
              src="assets/whatsapp.svg"
            />
            <a>Chat via Wathsapp</a>
          </div>
          <div class="h-full w-full">
            <carousel
              class="first-carousel"
              [arrows]="false"
              [counter]="false"
              [responsive]="true"
              [slideToShow]="3"
            >
              <div class="carousel-slide">
                <img
                  class="pt-5 pb-5 pl-2 h-32"
                  mat-card-image
                  src="assets/image1.png"
                />
              </div>
              <div class="carousel-slide">
                <img
                  class="pt-5 pb-5 pl-2 h-32 w-96"
                  mat-card-image
                  src="assets/image2.png"
                />
              </div>
              <div class="carousel-slide">
                <img
                  class="pt-5 pb-5 pl-2 h-32 w-96"
                  mat-card-image
                  src="assets/image3.png"
                />
              </div>
              <div class="carousel-slide">
                <img
                  class="pt-5 pb-5 pl-2 h-32 w-96"
                  mat-card-image
                  src="assets/image4.png"
                />
              </div>
            </carousel>
          </div>
          <div class="pt-5">
            <p class="text-xs h-full text-center" style="color: white">
              Powered by S10 Plus ® - 2024 - All Rights Reserved
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
